body {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    background-color: #2e4045;
}

header,
main,
footer {
    border-style: inset;
    border-width: 1em;
    background-color: #83adb5;
    font-size: 1.6em;
}
header h1 {
    text-align: center;
    padding: 0.25em;
    border-style: inset;
    border-width: 1.3em;
    font-size: 2.2em;
    color: #5e3c58;
    }
h2 {
    margin-top: 1em;
    padding-top: 1em;
    text-align: center;
    font-size: 14 pt;
    color: #5e3c58;
    text-decoration: underline;
    }
p {
    margin: 1.5em;
    font-size: 12 pt;
    color: black;
    }
img {
    width: 100%;
    }

figure {
    text-align: center;
}
figcaption {
    font-style: italic;
    font-size: 0.7em;
    }

footer {
    padding: 2em;
    border-style: inset;
    border-width: 1em;
}

#internal-list {
    padding: 0;
    display: inline-block;
    margin-left: 1.5em;
    margin-right: 0.5em;
    font-size: 0.75em;
    color: #5e3c58;

}
.copy {
    text-align: left;
    font-size: 0.6em;
    font-weight: bold;
    color: #5e3c58;
}